.container-y {
  width: 100%;
  padding-top: var(--bs-gutter-y, 0.75rem);
  padding-bottom: var(--bs-gutter-y, 0.75rem);
  margin-top: 1rem;
  margin-bottom: auto;
}

.content-section {
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.my-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}