{% extends "layout.html" %}

{% block content %}
    <h3>v1.2 Log</h3>
    <ol>
        <li>Admin control for match up available</li>
        <li>Default match up rules is by order of registration</li>
    </ol>
    <h3>v1.1 Log</h3>
    <ol>
        <li>Working dynamic refreshing scoreboard</li>
        <li>Functional chatbox</li>
        <li>Chatbox notification timer to 5 seconds</li>
    </ol>
    <h3>v1.0 Log</h3>
    <ol>
        <li>Opponent assignment is by order of registration</li>
        <li>Dynamically refreshing scoreboard available but inactive</li>
    </ol>
{% endblock %}