<center><b>Score System</b></center>
<table class="table table-sm">
    <tr>
        <td></td>
        <td style="text-align:center">{{ bridge_dict['A'] }}</td>
        <td style="text-align:center">{{ bridge_dict['B'] }}</td>
        <td style="text-align:center">{{ bridge_dict['C'] }}</td>
    </tr>

    <tr>
        <td style="text-align:center" width="30%">{{ bridge_dict['A'] }}</td>
        <td style="text-align:center">{{ score.AA }}</td>
        <td style="text-align:center">{{ score.AB }}</td>
        <td style="text-align:center">{{ score.AC }}</td>
    </tr>
    
    <tr>
        <td style="text-align:center" width="30%">{{ bridge_dict['B'] }}</td>
        <td style="text-align:center">{{ score.BA }}</td>
        <td style="text-align:center">{{ score.BB }}</td>
        <td style="text-align:center">{{ score.BC }}</td>
    </tr>
    
    <tr>
        <td style="text-align:center" width="30%">{{ bridge_dict['C'] }}</td>
        <td style="text-align:center">{{ score.CA }}</td>
        <td style="text-align:center">{{ score.CB }}</td>
        <td style="text-align:center">{{ score.CC }}</td>
    </tr>
</table>