<div id="play_scoreboard">
    <center><b>Scoreboard</b></center>

    <table class="table table-hover table-sm table-responsive table-bordered">
    <thead>
        <tr class="table-primary">
            {% for col in df.columns %}
                <th style="text-align:center"> {{ col }} </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for i in range(df.shape[0]-1) %}
            <tr>
                {% for j in range(df.shape[1]) %}
                    <td style="text-align:center"> {{ df.iloc[i,j] }} </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr class="table-active">
            {% for j in range(df.shape[1]) %}
                <td style="text-align:center"> {{ df.iloc[-1,j] }} </td>
            {% endfor %}
        </tr>
    </tfoot>
    </table>
</div>